@model ClientWeb.Models.Reservation.ReservationModel

@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Assuming you have a shared layout
}
<h1>THANKS ! Your reservation has been successfully submitted.</h1>
<p>We will contact you soon to confirm the details of your reservation.</p>
